<?xml version="1.0"?>
<platforms>
    <screensize screenX="1920" screenY="1080"/>
    <platform name="MAME">
        <folder>MAME</folder>
        <config>config_retrocade_MAME_1920x1080.txt</config>
        <skin>config_retrocade_MAME_1920x1080.skin</skin>        
    </platform>    
    <platform name="Super Nintendo">
        <folder>SNES</folder>
        <config>config_retrocade_SNES_1920x1080.txt</config>
        <skin>config_retrocade_SNES_1920x1080.skin</skin>
    </platform>
    <platform name="Atari 2600">
        <folder>ATARI2600</folder>
        <config>config_retrocade_ATARI2600_1920x1080.txt</config>
        <skin>config_retrocade_ATARI2600_1920x1080.skin</skin>
    </platform>
    <platform name="Nintendo 64">
        <folder>N64</folder>
        <config>config_retrocade_N64_1920x1080.txt</config>
        <skin>config_retrocade_N64_1920x1080.skin</skin>
    </platform>      
</platforms>
    
    
